.failing {
	width: 10em;
	height: 10em;
	background: red;
	margin: 10px;
}
.passing {
	width: 10em;
	height: 10em;
	background: green;
	margin: 10px;

}
.grey {
	width: 10em;
	height: 10em;
	background: grey;
	margin: 10px;
}